

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="nav navbar-header">

            <a href="#" style="font-family: fantasy" class="navbar-brand">Ammar Bank Limited</a>
        </div>

        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Main", "HomePage", "User")</li>
                <li>@Html.ActionLink("View Details", "viewDetails", "User")</li>
                <li>@Html.ActionLink("Update Profile", "EditDetails", "User")</li>
                <li>@Html.ActionLink("Question", "question", "User")</li>
                <li>@Html.ActionLink("Comment", "PostedQuestion", "User")</li>
                <li>@Html.ActionLink("Sign out", "Login", "User")</li>


            </ul>
        </div>
    </div>
</nav>

